mat-card-header {
  width: 100%;
}

mat-card-title {
  width: 100%;
  min-width: 0;
}

.post-title {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
